#ServletRedirectFilter Configuration Copy

RewriteRule PortalInfo null [R=404,NC,L]
RewriteRule /acs$ /portal/auth/portal/agent [R=307,NC,L]
RewriteRule /admin$ /portal/auth/portal/admin [R=307,NC,L]
RewriteRule (.*)\.jsp(.*) $1.html$2 [R=301,NC,L]
RewriteRule home.jsp$ home.html [R=301,NC,L]
RewriteRule finance/?$ home.html [R=301,NC,L]
RewriteRule register_insecure servicing [R=301,NC,L]
RewriteRule finance/travelmoney travel/travelmoney [R=301,NC,L]
RewriteRule insurance/travelins/elh/what-to-do-when-you-fall(\+|\s|%20)ill-abroad.html insurance/travelins/elh/what-to-do-when-you-fall-ill-abroad.html [R=301,NC,L]
RewriteRule insurance/([^\/]+)/([^\/]+/)*([^\/]+\.pdf) assets/sections/$1/pdf/$3 [R=301,NC,L]
RewriteRule .*servicing/bus_card/redirect.* https://cardsonline-commercial.com/RBSG_Commercial/Login.do?promoCode=TPF [R=302,NC,L]
RewriteRule .*servicing/insurance/redirect.* http://www.tesco-insurance.co.uk/insurance/startaction.do?entrypoint=0004&operation=0002 [R=302,NC,L]
RewriteRule .*insurance/carins/value/redirect-quote.* https://generalins.tescobank.com/tesco/quote/rtp/pc/disclaimer.launch?PolicyType=PC&CompanyName=tesco&brandName=rtp [R=302,NC,L]
RewriteRule .*insurance/lifeins/callback.* https://life.tescofinance.com/service/tb/callback [R=302,NC,L]
RewriteRule .*servicing/credit_card_online/redirect.* https://cardservicing.tescofinance.com/RBSG_Consumer/Login.do?promoCode=TESCO [R=302,NC,L]
RewriteRule servicing/accs_pols/redirect.* sss/auth [R=302,NC,L]
RewriteRule .*insurance/lifeins/retrievequote.html https://secure.life.tescobank.com/capps/auth_entry_point.htm?appId=TPF&appType=50&Action=retrievequote [R=301,NC,L]
RewriteRule .*insurance/carins/redirect-retrieve.html https://generalins.tescobank.com/tesco/quote/rtp/pc/startquote.launch?PolicyType=PC&amp;CompanyName=tesco&amp;brandName=rtp [R=301,NC,L]
RewriteRule .*insurance/carins/value/redirect-quote.* https://generalins.tescobank.com/tesco/quote/rtp/pc/disclaimer.launch?PolicyType=PC&CompanyName=tesco&brandName=rtp [R=302,NC,L]
RewriteRule .*insurance/homeins/redirect-retrieve.html https://generalins.tescobank.com/tesco/quote/rtp/hc/startquote.launch?PolicyType=HC&CompanyName=tesco&brandName=rtp [R=301,NC,L]
RewriteRule .*insurance/petins/redirect-retrieve.html https://pet.tescobank.com/initial.aspx?type=webuser [R=301,NC,L]
RewriteRule savings/important-info.html\?ProdCode=InstantAccess assets/sections/savings/pdf/tesco-instant-access-terms-and-conditions.pdf [R=302,NC,L]
RewriteRule savings/important-info.html\?ProdCode=InternetSaver assets/sections/savings/pdf/tesco-internet-saver-terms-and-conditions.pdf [R=302,NC,L]
RewriteRule savings/important-info.html\?ProdCode=FixedRateSaver assets/sections/savings/pdf/tesco-fixed-rate-saver-terms-and-conditions.pdf [R=302,NC,L]
RewriteRule onlinebanking/login-error.html errors/login-error.html [R=301,NC,L]
RewriteRule onlinebanking/pdfs/([^\/]+\.pdf) assets/sections/onlinebanking/pdf/$1 [R=301,NC,L]
RewriteRule insurance/([^\/]+)/([^\/]+/)*([^\/]+\.pdf) assets/sections/$1/pdf/$3 [R=301,NC,L]
RewriteRule .*insurance/travelins/redirect-retrieve.html https://travel.tescobank.com/try_login.php?from=quote [R=301,NC,L]
RewriteRule onlinebanking/pdfs/([^\/]+\.pdf) assets/sections/onlinebanking/pdf/$1 [R=301,NC,L]
RewriteRule help/community community [R=301,NC,L]
RewriteRule ecd_demo/default.html demos/index.html [R=301,NC,L]
RewriteRule smarter_money/index.html loans/elh/budgeting.html [R=301,NC,L]
RewriteRule finance/creditcards/([^\/]+)/([^\/]+/)*([^\/]+\.pdf) assets/sections/credit-cards/pdf/$3 [R=301,NC,L]
RewriteRule onlinebankingtroubleshooting$ change/online-banking-troubleshooting.html [R=301,NC,L]
RewriteRule onlinebankingrequirements$ change/minimum-requirements.html [R=301,NC,L]
RewriteRule sec/?$ sec/home.html [R=301,NC,L]
RewriteRule sec/index.html$ sec/home.html [R=301,NC,L]
RewriteRule sec/home.jsp$ sec/home.html [R=301,NC,L]
RewriteRule sec/finance/?$ sec/home.html [R=301,NC,L]