# START SI2 UNCHAINED LIST
#RewriteRule ^/finance/travelmoney/?$ /travel/travelmoneyZ [R=301,NC,L]
#RewriteRule ^/pcao-mvc/ca/captureConsent/?$ /current-account-apply/step1/ [R=301,NC,L]
#RewriteRule ^/fox/?$ /current-account-apply/step1/ [R=301,NC,L]

RewriteRule ^/12months$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/affiliates/index.jsp$ /affiliates/index.html [R=301,NC,L]
RewriteRule ^/car-insurance$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/community/tesco-charity-trust.html$ http://corporate.tescobank.com/ [R=301,NC,L]
RewriteRule ^/creditcards/additional-options.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/additional-options.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/bnpl.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/bnpl.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/bonuscc/index.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/built-in-benefits.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/built-in-benefits.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/clubcc$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/clubcc/index.jsp$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/creditcards/clubcc/summary-box.html$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/creditcards/clubcc/summary-box.jsp$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/creditcards/contact.jsp$ /creditcards/contact.html [R=301,NC,L]
RewriteRule ^/creditcards/cpp.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/cpp.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/existing-customers.jsp$ /creditcards/existing-customers.html [R=301,NC,L]
RewriteRule ^/creditcards/index.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/ipa.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/ipa.jsp$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/nofee/index.html$ /credit-cards/low-fee/index.html [R=301,NC,L]
RewriteRule ^/creditcards/offers/1000points/lowfee12m/index.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/creditcards/ppi.html$ /creditcards/elh/ppi.html [R=301,NC,L]
RewriteRule ^/creditcards/ppi.jsp$ /creditcards/elh/ppi.html [R=301,NC,L]
RewriteRule ^/creditcards/protection-from-fraud.html$ /creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/creditcards/protection-from-fraud.jsp$ /creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/creditcards/special-offers.html$ /creditcards/rewards.html [R=301,NC,L]
RewriteRule ^/creditcards/special-offers.jsp$ /creditcards/rewards.html [R=301,NC,L]
RewriteRule ^/directmail$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/help/muscular-dystrophy-campaign.html$ /help/ [R=301,NC,L]
RewriteRule ^/help/tech_support.jsp$ /help/ [R=301,NC,L]
RewriteRule ^/insurance/bikeins/index.jsp$ /insurance/ [R=301,NC,L]
RewriteRule ^/insurance/breakdown/apply.html$ /insurance/breakdown/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/contact.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/elh/european-breakdown-cover.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/elh/what-to-do-when-your-windscreen-cracks.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/index.jsp$ /insurance/breakdown/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/policy-documents.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/breakdown/policy-info.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/cover-options.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/index.jsp$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/policy-documents.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/value/index.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/value/index.jsp$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/dentalins/contact.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/dentalins/index.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/dentalins/index.jsp$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/dentalins/policy-info.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/adult-included.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/adult-plans.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/adult-plans.jsp$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/child-included.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/child-plans.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/child-plans.jsp$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/contact.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/index.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/healthins/index.jsp$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/insurance/homeins/finest.html$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/finest.jsp$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/index.jsp$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/policy-$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/standard.html$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/standard.jsp$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/value.html$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/value.jsp$ /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/index.jsp$ /insurance/ [R=301,NC,L]
RewriteRule ^/insurance/lifeins/contact.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/cover_calculator.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/cover_calculator.jsp$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/critical-illness.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/decreasing-cover.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/decreasing-cover.jsp$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/index.jsp$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/level-cover.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/level-cover.jsp$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/life-insurance/index.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/over50s/existing-customers.html$ /insurance/lifeins/existing-customers.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/over50s/index.html$ /insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/over50s/index.jsp$ /insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/policy-info.html$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/petins/index.jsp$ /pet-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/index.jsp$ /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/vanins/compare.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/vanins/index.html$ / [R=301,NC,L]
RewriteRule ^/life$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/life-insurance$ /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/loans/apply.jsp$ /loans/apply.html [R=301,NC,L]
RewriteRule ^/loans/index.jsp$ /loans/ [R=301,NC,L]
RewriteRule ^/loans/repay_calc.html$ /portal/portal/customer/loan-apply-calculator/ [R=301,NC,L]
RewriteRule ^/loans/repay_calc.jsp$ /portal/portal/customer/loan-apply-calculator/ [R=301,NC,L]
RewriteRule ^/mortgages/index.jsp$ /mortgages/ [R=301,NC,L]
RewriteRule ^/motoring/car-warranty-plan/cover-levels.jsp$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/motoring/car-warranty-plan/index.jsp$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/motoring/index.jsp$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/savings/certificates/index.jsp$ /savings/certificates/index.html [R=301,NC,L]
RewriteRule ^/savings/childtrustfund/index.jsp$ /savings/isa-accounts/junior/index.html [R=301,NC,L]
RewriteRule ^/savings/fixedratesaver/index.jsp$ /savings/fixed/fixed-rate-saver/index.html [R=301,NC,L]
RewriteRule ^/savings/index.jsp$ /savings/ [R=301,NC,L]
RewriteRule ^/savings/inflation_beating/index.jsp$ /savings/fixed/fixed-rate-saver/index.html [R=301,NC,L]
RewriteRule ^/savings/savings/index.jsp$ /savings/ [R=301,NC,L]
RewriteRule ^/savings/savingsaccounts/index.jsp$ /savings/ [R=301,NC,L]
RewriteRule ^/savings/savingsaccounts/instantaccess/index.jsp$ /savings/flexible/instant-access/index.html [R=301,NC,L]
RewriteRule ^/savings/savingsaccounts/instantaccess/savingscalc.jsp$ /savings/flexible/instant-access/index.html [R=301,NC,L]
RewriteRule ^/savings/savingsaccounts/internetsaver/index.jsp$ /savings/flexible/internet-saver/index.html [R=301,NC,L]
RewriteRule ^/savings/savingsaccounts/managing-my-account-online.jsp$ /savings/savingsaccounts/registering-for-online-banking.html [R=301,NC,L]
RewriteRule ^/servicing/accs_pols/redirec$ /servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/servicing/accs_pols/redirect.html$ /servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/servicing/accs_pols/redirect.jsp$ /servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/servicing/credit_card_online/index.html$ /servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/sitemap/index.jsp$ /sitemap/index.html [R=301,NC,L]
RewriteRule ^/smarter_money/tools/health_quiz.jsp$ / [R=301,NC,L]
RewriteRule ^/travel/index.jsp$ /travel-money/ [R=301,NC,L]
RewriteRule ^/travel/travel-card/index.jsp$ /travel-money/ [R=301,NC,L]
RewriteRule ^/travelmoney/index.jsp$ /travel-money/ [R=301,NC,L]
RewriteRule ^/personal/finance$ / [R=301,NC,L]
RewriteRule ^/personal/finance/community/tesco-charity-trust.html$ http://corporate.tescobank.com/ [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/bt/index.html$ /credit-cards/balance-transfer/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/credit-cards/purchases/index.html$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/balance-transfers-what-they-are-and-how-they-could-help-you-save.html$ /creditcards/elh/balance-transfers-on-your-credit-card.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/credit-card-account-errors.html$ /creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/credit-cards-and-the-small-print.html$ /creditcards/elh/credit-cards-and-the-small-print.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/do-you-use-your-credit-card-sensibly.html$ /creditcards/elh/which-profile-do-you-fit.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/how-to-use-your-credit-card-overseas.html$ /creditcards/elh/how-to-use-your-credit-card-overseas.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/how-to-use-your-credit-card-sensibly.html$ /creditcards/elh/credit-cards-and-the-small-print.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/is-cash-safer-than-a-credit-card.html$ /creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/know-your-limit.html$ /creditcards/elh/know-your-limit.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/know-your-rights.html$ /creditcards/elh/know-your-rights.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/should-you-get-tesco-payment-protection-insurance.html$ /creditcards/elh/ppi.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/the-balance-of-britains-breaks.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/the-beginning-of-the-credit-card-era.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/visa-or-mastercard.html$ /creditcards/elh/visa-or-mastercard.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/elh/what-to-look-for-in-a-credit-card.html$ /creditcards/elh/which-profile-do-you-fit.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/email-1000points/clubcc-index.html$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/creditcards/index.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/credit-cards/purchases/index.html$ /credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/index.html$ /credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/home.html$ / [R=301,NC,L]
RewriteRule ^/personal/finance/home.page$ / [R=301,NC,L]
RewriteRule ^/personal/finance$ / [R=301,NC,L]
RewriteRule ^/personal/finance/insurance$ /insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/apply.html$ /insurance/breakdown/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/elh/european-breakdown-cover.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/elh/what-to-do-when-your-windscreen-cracks.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/index.html$ /insurance/breakdown/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/apply.html$ /car-insurance/standard/apply.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/clubcard-customers.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/contact.html$ /insurance/carins/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/elh/car-insurance-groups-explained.html$ /insurance/carins/elh/car-insurance-groups-explained.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/elh/who-are-the-safest-drivers-in-britain.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/existing-customers.html$ /insurance/carins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/extra-options.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/index.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/making-a-claim.html$ /insurance/carins/making-a-claim.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/policy-documents.html$ /insurance/carins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/value/index.html$ /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/dentalins/index.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/index.html$ /insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/index.html$ /insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/vanins/index.html$ /insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/servicing/credit_card_online/index.html$ servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^https://www.tescobank.com/personal/finance/creditcards/elh/balance-transfers-what-they-are-and-how-they-could-help-you-save.html$ /creditcards/elh/balance-transfers-on-your-credit-card.html [R=301,NC,L]
RewriteRule ^https://www.tescobank.com/personal/finance/creditcards/elh/your-credit-rating.html$ /creditcards/elh/your-credit-rating.html [R=301,NC,L]

# END SI2 UNCHAINED LIST

#CM223385 - Loans Redirects
RewriteRule ^/loans/apply.html?tpfpgid=loans-index&navid=apply3 https://onlineapply.loans.tescobank.com/loans-ui [R=301,L]
RewriteRule ^/portal/portal/customer/loan-apply-calculator https://onlineapply.loans.tescobank.com/loans-ui [R=301,NC,L]
RewriteRule ^/personal/finance/loans/apply.html https://onlineapply.loans.tescobank.com/loans-ui [R=301,L]
RewriteRule ^/loans/apply.html https://onlineapply.loans.tescobank.com/loans-ui [R=301,L]

RewriteRule ^/loans1$ http://clk.atdmt.com/OFF/go/355767638/direct/01/ [R=301,L]
RewriteRule ^/loans2$ http://clk.atdmt.com/OFF/go/355767639/direct/01/ [R=301,L]
RewriteRule ^/loans3$ http://clk.atdmt.com/OFF/go/355767640/direct/01/ [R=301,L]
RewriteRule ^/loans4$ http://clk.atdmt.com/OFF/go/355767641/direct/01/ [R=301,L]
RewriteRule ^/loans5$ http://clk.atdmt.com/OFF/go/355767642/direct/01/ [R=301,L]


RewriteRule ^/mortgages/conveyancers$ $1/mortgages/conveyancer.html [R=301,L]
RewriteRule ^/mortgages/conveyancers.$ $1/mortgages/conveyancer.html [R=301,L]
RewriteRule ^/helpcentre/?$ http://clk.atdmt.com/OFF/go/380901099/direct/01/ [R=301,L]


##########  Added on 22/07/2013 ######## CM141857 #########################
RewriteRule ^/tescobanksecure$ $1/security/tesco-secure.html [R=301,L]
#################### End ##################################################



########## CM073351 - 16th April 2012 ##########
RewriteRule ^/dvdoffer/?$ http://www.dvdpromotion.co.uk [R=301,L]
RewriteRule ^/vacoffer/?$ http://www.vacoffer.co.uk [R=301,L]
RewriteRule ^/personal/finance/creditcards/additional-options.html$ $1/credit-cards/[R=301,L]
RewriteRule ^/personal/finance/creditcards/bnpl.html$ $1/finance/creditcards/existing-customers.html [R=301,L]
RewriteRule ^/personal/finance/creditcards/built-in-benefits.html$ $1/finance/creditcards/existing-customers.html [R=301,L]
RewriteRule ^/personal/finance/creditcards/cc-defaqto.html$ $1/credit-cards/ [R=301,L]


RewriteRule ^/personal/finance/creditcards/protection-from-fraud.html$ $1/security/tesco-secure.html [R=301,L]
RewriteRule ^/personal/finance/creditcards/special-offers.html$ $1/finance/creditcards/existing-customers.html [R=301,L]
RewriteRule ^/personal/finance/creditcards/clubcc/summary-box.html$ $1/credit-cards/ [R=301,L]



#START##########CM086692- EFFECTIVE FROM 14/06/2012 - #########
RewriteRule ^/paymentprotection$ $1/creditcards/existing-customers.html [R=302,L]
#END########CM086692 ########################################

#START##########CM087184- EFFECTIVE FROM 14/06/2012 - #########
RewriteRule ^/creditcards/clubcc/summary-box.html$ $1/credit-cards/ [R=301,L]
#END########CM087184  ########################################

########################CM092147 Effective from 20/07/2012#############################
RewriteRule ^(/lifeshelf|/lifeshelf/)$  /insurance/lifeins/index.html [R=302,L]
######################################################################################

###################CM09341 Effective from 27/07/2012###################
RewriteRule ^/buyback/?$  /travel/travelmoney/buyback.html [R=302,L] # TO BE REVIEWED
###################CM09341 Effective from 27/07/2012###################

###################################CM096468#######################################################################
RewriteRule ^/personal/finance/insurance/travelins/cover-options.html$ $1/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/defaqto.html$ $1/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/existing-customers-policies.html$ $1/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-info.html$ $1/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/travel-checklist.html$ $1/travel-insurance/ [R=301,L]
#######################################################################################################################################

##################CM097361#############################################
RewriteRule ^/renewals/?$ https://www.renewals.tescobank.com [R=301,L]
######################################################################

####################################CM098958##########################################################
RewriteRule ^/personal/finance/servicing/credit_card_online/index.html$ https://www.tescobank.com/sss/authcc [R=301,L]
#####################################################################################################

#############################CM100280####################################################
RewriteRule ^/newparent/?$  /insurance/lifeins/new-parent/index.html [R=302,L]
########################################################################################

###########################################2012-09-16 CR012 CM100158 #########################################################################
RewriteRule ^/personal/finance/insurance/lifeins/apply-life.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/apply-life.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/level-cover.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/level-cover.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/decreasing-cover.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/decreasing-cover.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/critical-illness.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/critical-illness.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/portal/portal/customer/life-cover/$ $1/insurance/lifeins/index.html [R=301,L]

RewriteRule ^/personal/finance/insurance/lifeins/policy-info.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/policy-info.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/contact.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/contact.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/policy-info.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/apply-critical.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/apply-critical.html$ $1/insurance/lifeins/index.html [R=301,L]

RewriteRule ^/personal/finance/insurance/lifeins/call-apply-critical.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/call-apply-critical.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/call-apply-life.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/call-apply-life.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/cover_calculator.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/cover_calculator.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/decreasing-cover-graph.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/decreasing-cover-graph.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/glossary.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/glossary.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/level-cover-graph.html$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/level-cover-graph.html$ $1/insurance/lifeins/index.html [R=301,L]

###########################################2012-09-16 CR012 CM100158 ##########################################################################


############################CM103990###########################################
RewriteRule ^/over50s/?$  /insurance/lifeins/over50s/index.html [R=301,L]
##############################################################################

#########################CM106887###############################################
RewriteRule ^/life/?$  /insurance/lifeins/life-insurance/index.html [R=301,L]
RewriteRule ^/criticalillness/?$  /insurance/lifeins/critical-illness/index.html [R=301,L]
###############################################################################

###############################################2012-11-16 CR020 and CR019 CM109372 ##########################################################
RewriteRule ^/personal/finance/travel/travelmoney/buyback.html$ $1/travel-money/ [R=301,L]
RewriteRule ^/personal/finance/travel/travelmoney/travellers-cheques.html$ $1/travel-money/ [R=301,L]
RewriteRule ^/loans/repay_calc.html$ $1/portal/portal/customer/loan-apply-calculator/ [R=301,L]
#############################################2012-11-16 CR020 and CR019 CM109372##############################################################

##########################CM112165####################################################
RewriteRule ^/annualstatement/?$  /creditcards/annual-statement.html [R=301,L]
#####################################################################################

######################CM116170 starts -removal CR025 CM121425 20-02-2013###########
RewriteRule ^/personal/finance/cao/cards_1.html$ $1/creditcards/clubcc/apply.html [R=301,L]
RewriteRule ^/personal/finance/cao/cards_2.html$ $1/creditcards/bt/apply.html [R=301,L]
RewriteRule ^/assets/sections/credit-cards/data/ccards-bt-apply.html$ $1/creditcards/bt/apply/ccards.html [R=301,L]
RewriteRule ^/assets/sections/credit-cards/data/ccards-clubcc-apply.html$ $1/creditcards/clubcc/apply/ccards.html [R=301,L]
######################CM116170 ends###########

########################START####################### CM120027 11/02/2013 ###################################################################
RewriteRule ^/pet$ $1/pet-insurance/ [R=301,L]
RewriteRule ^/travelmoney$ $1/travel-money/?cmpid=offline/general/travelmoney [R=301,L] # TO BE REVIEWED
######################END######################### CM120027  11/02/2013 ######################################################################

########################START#######################MRK_BAU_CR021, 15/02/2013 CM120453 ############################################################
RewriteRule ^/save$ $1/savings/ [R=301,L]
######################END#########################MRK_BAU_CR021, 15/02/2013 CM120453 ##############################################################

######################START#########################CM128710  MRK BAU CR207###############19/04/2013###############################################
RewriteRule ^/directmail$ $1/personal/finance/creditcards/email-1000points/clubcc-index.html [R=301,L]
######################END######################### CM128710 MRK BAU CR207#################19/04/2013###############################################

#START##########CM136723- EFFECTIVE FROM 20/06/2013 - #########
RewriteRule ^/gateway.html$ / [R=301,L]
RewriteRule ^/personal/finance/gateway.jsp$ / [R=301,L]
#END########CM136723  ########################################

#########START#################MRK_BAU_CR028##########################################################################################
RewriteRule ^/homeKPI13 $1/assets/sections/homeins/pdf/tesco-home-key-policy.pdf [R=301,L]
RewriteRule ^/homepolicybook13 $1/assets/sections/homeins/pdf/tesco-home-policy-booklet.pdf [R=301,L]
RewriteRule ^/homepolicysumTU $1/assets/sections/homeins/pdf/tesco-home-policy-summary-tesco-underwriting-ltd.pdf [R=301,L]
RewriteRule ^/homepolicysumAXA $1/assets/sections/homeins/pdf/tesco-home-policy-summary-axa-insurance-uk-plc.pdf [R=301,L]
RewriteRule ^/homepolicysumTG $1/assets/sections/homeins/pdf/tesco-home-policy-summary-towergate-underwriting-household.pdf [R=301,L]
RewriteRule ^/hometoba $1/assets/sections/homeins/pdf/tesco-home-about-our-insurance-services.pdf [R=301,L]
RewriteRule ^/homeinsurance $1/home-insurance/ [R=301,L]
RewriteRule ^/homecomparison $1/home-insurance/ [R=301,L]
#################################################MRK_BAU_CR028#############################END ########################################
##########START#############MRK_BAU_CR029###MRK_BAU_CR032################################################
RewriteRule ^/insurance/homeins/finest.html $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/standard.html $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/value.html $1/home-insurance/ [R=301,L]
###############################################MRK_BAU_CR029#####MRK_BAU_CR032########END################
#############CR_031##10-June-2013###START###################################################
RewriteRule ^/box $1/insurance/box/index.html [R=301,L]
RewriteRule ^/boxinsurance $1/insurance/box/index.html [R=301,L]
RewriteRule ^/youngdrivers $1/insurance/box/index.html [R=301,L]
#######################################################################END####################
#####START##########CM136354- EFFECTIVE FROM 18/06/2013 - #########
RewriteRule ^/insurance/homeins/confused-tcs.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/defaqto.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/go-compare-tcs.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/underwriter-uki.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/underwriter-axa.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/underwriter-tesco-bank.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/existing-customers-policies.html$ $1/home-insurance/ [R=301,L]
RewriteRule ^/insurance/homeins/underwriter-towergate.html$ $1/home-insurance/ [R=301,L]
#####END########CM136354 ########################################
##########START#############CM137627###################################################
RewriteRule ^/dm/?$  /creditcards/email-1000points/bt-index.html [R=301,L]
###############################################CM137626#############END#################

##########START#############CM137634###################################################
RewriteRule ^/insurance/carins/value/?$  /car-insurance/ [R=301,L]
RewriteRule ^/insurance/carins/value/index.html /car-insurance/ [R=301,L]
RewriteRule ^/insurance/carins/value/apply.html /car-insurance/ [R=301,L]
###############################################CM137631#############END#################
##########START#############CM138868###################################################
RewriteRule ^/creditcards/nofee/index.html$ $1/credit-cards/ [R=301,L]
RewriteRule ^/creditcards/nofee/apply.html$ $1/credit-cards/ [R=301,L]
RewriteRule ^/creditcards/nofee/card-select.html$ $1/credit-cards/ [R=301,L]
###############END######################CM138868########################################
############## CR_038#####  START  ###### CM137948 ######################################################################################################
RewriteRule ^/life$ $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/over50s$ $1/insurance/lifeins/over-50s-life-insurance.html [R=301,L]
RewriteRule ^/new-parent$ $1/insurance/lifeins/new-parent-free-life-cover.html [R=301,L]
################## CM137948 ################# CR_038 ######## END ######################################################################################
############## CR_036 ########## START ############## CM137948 #########################################################################################
RewriteRule ^/insurance/lifeins/critical-illness/contact-us.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/critical-illness/existing-customers.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/critical-illness/how-to-claim.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/contact-us.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/decreasing-cover.html $1/insurance/lifeins/mortgage-cover.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/how-to-claim.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/index.html $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/level-cover.html $1/insurance/lifeins/family-cover.html [R=301,L]
RewriteRule ^/insurance/lifeins/over50s/apply.html $1/insurance/lifeins/apply-over-50s.html [R=301,L]
RewriteRule ^/insurance/lifeins/over50s/contact-us.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/over50s/existing-customers.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/over50s/how-to-claim.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/new-parent/contact-us.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/new-parent/existing-customers.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/new-parent/how-to-claim.html $1/insurance/lifeins/existing-customers.html [R=301,L]
RewriteRule ^/insurance/lifeins/new-parent/index.html $1/insurance/lifeins/new-parent-free-life-cover.html [R=301,L]
RewriteRule ^/insurance/lifeins/over50s/index.html $1/insurance/lifeins/over-50s-life-insurance.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/index.html $1/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/insurance/lifeins/life-insurance/mortgage-cover.html $1/insurance/lifeins/mortgage-cover.html [R=301,L]
RewriteRule ^/insurance/lifeins/critical-illness/index.html $1/insurance/lifeins/critical-illness-cover.html [R=301,L]
############################################ CM137948 ######################## CR_036 ######### END ########################################################
################ CM139642 ####### START ################################################
RewriteRule ^/insurance/breakdown/policy-doc-eu.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-summary-uk.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-summary-eu.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/important-info.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/compare-our-covers.html$ $1/insurance/breakdown/index.html [R=301,L]
######################### CM139642######### END ########################################
################################################CM140462####################################################
RewriteRule ^/insurance/breakdown/policy-info.html $1/insurance/breakdown/policy-documents.html [R=301,L]
RewriteRule ^/insurance/breakdown/compare-our-covers.html $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/important-info.html $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-doc-eu.html $1/insurance/breakdown/policy-documents.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-summary-eu.html $1/insurance/breakdown/policy-documents.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-summary-uk.html $1/insurance/breakdown/policy-documents.html [R=301,L]
################################################CM140462####################################################
########################## CR_041 ############# Start #### 22/07/13 ##################################################
RewriteRule ^/assets/sections/community/atm/diabetes-uk.html$ $1/community/national-charity-partner.html [R=301,L]
###############################  END ##################################################################################
######### START ##########  CR042 ##### 31/07/2013###########################
RewriteRule ^/careers/?$ http://careers.tescobank.com [R=301,L]
################## CR042 ######## END########################################

######### START ###  CR043 #############31/07/2013##################################################################
RewriteRule ^/insurance/healthins/adult-included.html$ $1/insurance/healthins/index.html [R=301,L]
RewriteRule ^/insurance/healthins/apply-adult.html$ $1/insurance/healthins/index.html [R=301,L]
RewriteRule ^/insurance/healthins/apply-child.html$ $1/insurance/healthins/index.html [R=301,L]
###################### CR043 ##### END #############################################################################

########## START ###  CR044 ######################31/07/2013############################################
##########Removed  CR053 ##### Start ################## 25/09/2013 ######################################
RewriteRule ^/autumn$ $1/creditcards/offers/1000points/purchases/index.html [R=301,L]
########################## CR044 ###### END ########################## CR053 #### END #######################

########### START ###  CR045 ###############################01/08/2013 ##############################################################
RewriteRule ^/savings/savingsaccounts/interest-rates-changes.html$ $1/savings/savingsaccounts/interest-rates.html [R=301,L]
########################### CR045 ########## END #################################################################################
#####  START  ######CR_046 ####################################################################################
RewriteRule ^/personal/finance/motoring/index.html$ $1/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/motoring/car-warranty-plan/contact.html$ $1/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/motoring/car-warranty-plan/important-info.html$ $1/car-insurance/ [R=301,L]
####### END ############################ CR_046 ###############################################################

#####  START  ######CR_047 ####################################################################################
# Need to comment the existing redirect JIRA TBSIP-57 for below request
RewriteRule ^/home/gateway.html / [R=301,L]
####### END ############################ CR_047 ###############################################################

#####  START  ######CR_048 ####################################################################################
RewriteRule ^/insurance/healthins/index.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/adult-plans.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/child-plans.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/contact.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/important-info.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/child-included.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/difference-between-cold-and-flu.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/get-fit-and-have-fun.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/getting-the-right-health-care.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/giving-children-medicine.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/having-a-pet-is-good-for-your-heart.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/health-while-travelling.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/healthy-living-guide.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/owning-a-cat-or-dog-can-reduce-stress.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/private-healthcare.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/healthins/elh/talking-to-your-doctor.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/index.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/policy-info.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/contact.html$ $1/insurance/health-and-dental/index.html [R=301,L]

# Need to comment the CR043 request for below source to point to new destination

#insurance/dentalins/apply-core.html
#insurance/dentalins/apply-premium.html
# End
RewriteRule ^/insurance/dentalins/apply-core.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/apply-premium.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/general-exclusions.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/important-info.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/about-dentists.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/ask-the-dentist.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/caring-for-your-childs-teeth.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/choosing-a-good-toothbrush.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/choosing-the-right-dentist.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/coping-with-dental-phobia.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/dental-terms-explained.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/find-a-dentist.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/how-to-eat-for-healthy-teeth.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/living-with-sensitive-teeth.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/oral-health-tips.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/pros-and-cons-of-teeth-whitening.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/tips-for-healthy-teeth.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/uks-favourite-smile.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/understanding-gum-disease.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/understanding-your-teeth.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/why-should-i-floss.html$ $1/insurance/health-and-dental/index.html [R=301,L]
RewriteRule ^/insurance/dentalins/elh/why-should-i-visit-a-hygenist.html$ $1/insurance/health-and-dental/index.html [R=301,L]
####### END ############################ CR_048 ###############################################################


######################START#########################CM146698 MRK BAU CR050###############27/08/2013###############################################
RewriteRule ^/community/recruitment.html?$ http://careers.tescobank.com [R=301,L]
######################END#########################CM146698 MRK BAU CR050#################27/08/2013###############################################

#################  CR052 #### 09 Sep 2013 ########################################

RewriteRule ^/insurance/vanins/index.html$ $1/ [R=301,L]
RewriteRule ^/insurance/vanins/faq.html$ $1/ [R=301,L]
RewriteRule ^/van/?$ $1/ [R=301,L]
RewriteRule ^/insurance/vanins/contact.html$ $1/car-insurance/ [R=301,L]
RewriteRule ^/insurance/vanins/existing-customers.html$ $1/car-insurance/ [R=301,L]
RewriteRule ^/insurance/vanins/making-a-claim.html$ $1/car-insurance/ [R=301,L]
RewriteRule ^/insurance/vanins/policy-documents.html$ $1/car-insurance/ [R=301,L]

############## CR052  ### 09 Sep 2013 #################################################

##### CM149400 START  ######CR_051####################################################################################
RewriteRule ^/loanscalculator$ $1/portal/portal/customer/loan-apply-calculator [R=301,L]
#######CM149400 END ############################ CR_051###############################################################

##################  START #### CR054 #########   Date:- 17-10-2013######### CM154380  ############################
RewriteRule ^/community/index.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/art-competition.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/atm-donation-programme.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/cancer-research-uk.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/contact.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/corporate.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/environment.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/information-on-charities.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/national-charity-partner.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/previous-charities.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/race-for-life.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/summer-read.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/tb-football-challenge.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/tesco-charity-trust.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/tesco-community-partners.html$ http://corporate.tescobank.com/ [R=301,L]
RewriteRule ^/community/?$ http://corporate.tescobank.com [R=301,L]
###########################################################################  CR054 ######## END #################

##################  START #### CR055 ################## CM154394 #############################################Date :- 18-10-2013############################
RewriteRule ^/creditcards/elh/how-to-get-the-most-out-of-your-tesco-credit-card.html$ $1/creditcards/elh/top-5-ways-to-get-the-most-from-your-tesco-credit-card.html [R=301,L]
###########################################################################  CR055 ######## END #############################################################

#################################### START CR061 ############################################ CM161902 ################ Dt :- 27-11-2013 ################

RewriteRule ^/insurance/breakdown/apply-cover-level.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/apply-euro.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/apply.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/call-apply.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/contact.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/euro-breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/policy-documents.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/tech-apply.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/about-breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/advice-for-disabled-drivers.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/diy-car-care.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/diy-car-maintenance.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/diy-roadside-repair-kit.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/diy-roadside-repairs.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/doing-it-yourself.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/driving-in-europe.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/european-breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/planning-ahead-for-a-long-trip.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/seasonal-driving.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/tips-for-trips.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/top-six-reasons-for-a-breakdown.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/what-to-do-when-you-breakdown.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/what-to-do-when-your-windscreen-cracks.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/insurance/breakdown/elh/what-to-do.html$ $1/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/sitemap/car-breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]

##############################################################################################  END CR061 ################ CM161902 ###################

######################### CR063 #####################Dt:- 11-12-2013###########################

#RewriteRule ^/caravan$ http://clk.atdmt.com/OFF/go/470223675/direct/01/ [R=301,L]
#RewriteRule ^/wedding$ http://clk.atdmt.com/OFF/go/470224624/direct/01/ [R=301,L]
#RewriteRule ^/cars$ http://clk.atdmt.com/OFF/go/470224625/direct/01/ [R=301,L]
#RewriteRule ^/homeimprovement$ http://clk.atdmt.com/OFF/go/470224626/direct/01/ [R=301,L]

########################################### End ###############################################

######################### CR064 ##################### Dt:- 18-12-2013###########################
RewriteRule ^/winter$ $1/creditcards/offers/1000points/bt/index.html [R=301,L]
########################################### End ####################### CM164026 ###############

######################### CR065 #####################Dt:- 23-12-2013##############################
RewriteRule ^/sitemap/euro-care-breakdown-cover.html$ $1/insurance/breakdown/index.html [R=301,L]
########################################### End ##############CM164256############################

######################### CR067 ##################### Dt:- 07-03-2014###########################
RewriteRule ^/carpolicy$ $1/insurance/carins/existing-customers.html [R=301,L]
RewriteRule ^/homepolicy$ $1/insurance/homeins/existing-customers.html [R=301,L]
########################################### End ####################### CM172039 ###############

########################### Dt :- 16-03-2014 ############################################# ###############################################################

RewriteRule ^/change/index.html$ $1/online-banking-help/index.html [R=301,L]
RewriteRule ^/change/improving-savings-accounts-and-service.html$ $1/online-banking-help/index.html [R=301,L]
RewriteRule ^/change/savings-not-logged-in.html$ $1/online-banking-help/logging-in.html [R=301,L]
RewriteRule ^/change/savings-latest-online-changes.html$ $1/online-banking-help/whats-new.html [R=301,L]
RewriteRule ^/change/improving-loan-account-and-service.html$ $1/online-banking-help/index.html [R=301,L]
RewriteRule ^/change/loans-not-logged-in.html$ $1/online-banking-help/logging-in.html [R=301,L]
RewriteRule ^/change/loans-latest-online-changes.html$ $1/online-banking-help/whats-new.html [R=301,L]
RewriteRule ^/change/improving-credit-card-account.html$ $1/online-banking-help/index.html [R=301,L]
RewriteRule ^/change/credit-cards-latest-changes.html$ $1/online-banking-help/whats-new.html [R=301,L]
RewriteRule ^/change/credit-cards-forgotten-or-locked-out.html$ $1/online-banking-help/logging-in.html [R=301,L]
RewriteRule ^/change/credit-cards-new-to-online-banking.html$ $1/online-banking-help/whats-new.html [R=301,L]
RewriteRule ^/change/credit-cards-fees-and-charges.html$ http://faq.tescobank.com/help/credit_cards/clubcard_cc/total_fees_charges.html [R=301,L]
RewriteRule ^/change/improving-business-credit-card-account.html$ http://faq.tescobank.com/help/credit_cards/business_cc/?x=y.html [R=301,L]
RewriteRule ^/change/mortgages-help-centre.html$ $1/online-banking-help/index.html [R=301,L]
#RewriteRule ^/change/terms-and-conditions.html$ $1/online-banking-help/index.html [R=301,L]
RewriteRule ^/change/help-with-logging-in.html$ $1/online-banking-help/logging-in.html [R=301,L]
RewriteRule ^change/demos.html$ $1/online-banking-help/demos.html [R=301,L]
RewriteRule ^/change/trust-defender.html$ $1/security/trustdefender.html [R=301,L]
RewriteRule ^/change/online-banking-troubleshooting.html$ $1/online-banking-help/technical-support.html [R=301,L]
RewriteRule ^/change/minimum-requirements.html$ $1/online-banking-help/technical-support.html [R=301,L]

########################### CR069 ############################################################################### END ####################################

##################################################### Dt:- 20-03-2014###########################
RewriteRule ^/currentaccount$ $1/current-accounts/ [R=301,L]
########################################### End ####################### CM174072 ###############

##################CM174973#####CR070####################Dt:-21-03-2014##################
RewriteRule ^/spring$ $1/creditcards/offers/1000points/lowapr/index.html  [R=301,L]
########################################### End#########################################

##################CM177219#####CR071####################Dt:-03-04-2014##################
RewriteRule ^/change/terms-and-conditions.html$ $1/online-banking-help/terms-and-conditions.html [R=301,L]
########################################### End#########################################

#################CM178166 Dt:- 10/04/2014 ##########################################
RewriteRule ^/12months$ $1/creditcards/offers/1000points/lowfee12m/index.html [R=301,L]
RewriteRule ^/29months$ $1/creditcards/offers/1000points/bt29ma/index.html [R=301,L]
######################################CM178166 CR072##################### END ######

############################ CM179804 ##################################### Dt:- 28-04-2014 ###################
#RewriteRule ^/mortgages/help-and-guidance.html$ $1/mortgages/index.html [R=301,L]
RewriteRule ^/mortgages/am-i-eligible-for-a-tesco-bank-mortgage.html$ $1/mortgages/index.html [R=301,L]
RewriteRule ^/mortgages/apply-for-a-tesco-bank-mortgage.html$ $1/mortgages/index.html [R=301,L]
#RewriteRule ^/mortgages/managing-your-money.html$ $1/mortgages/index.html [R=301,L]
#RewriteRule ^/mortgages/elh/useful-downloads.html$ $1/mortgages/index.html [R=301,L]
####################################################### CR073 ################# END ############################
#######  Start ######  CM180682 ###### 06-May-2014 ##############################
RewriteRule ^/currentaccounts$ $1/current-accounts/ [R=301,L]
RewriteRule ^/current-account$ $1/current-accounts/ [R=301,L]
RewriteRule ^/current-accounts$ $1/current-accounts/ [R=301,L]
######################## CM180682  ###############   END ##############

################################ CR076 ###################### Dt:- 15/05/2014 ################
RewriteRule ^/help/muscular-dystrophy-campaign.html$ $1/help/cash-machines.html [R=301,L]
################################################################ CM182046 ####################

########### CR077 ############ Dt:- 15/05/2014 ###########
RewriteRule ^/change$ $1/online-banking-help [R=301,L]
############################### CM181979 #################

################################ CR075 ###################### Dt:- 21/05/2014 ################
RewriteRule ^/insurance/carins/cover-options.html$ $1/insurance/carins/index.html [R=301,L]
######################################################## CM181966 ############################

################ CR078 ############# Dt:- 21/05/2014 ################
RewriteRule ^/apps$ $1/online-banking-help/mobile-app.html [R=301,L]
############################################## CM182494 #############
##### CR079 ############  CM183360 #####  START######################################################
RewriteRule ^/summer$ $1/creditcards/offers/1000points/lowfee2/index.html [R=301,L]
###################################################  END #######################################
##########  CR080 ############## CM183368 #### START ##############################################
RewriteRule ^/mortgages/get-a-quote.html$ $1/mortgages/apply.html [R=301,L]
#####################################################  END #############################
##########  CR081 ###############  CM183371  ### START ##############################################
RewriteRule ^/insurance/homeins/compare-cover.html$ $1/home-insurance/ [R=301,L]
#######################################################  END ###########################

########## CR082 ############### Dt:- 02/06/2014 ############# CM184201 ############
RewriteRule ^/Carpolicy$ $1/insurance/carins/existing-customers.html [R=301,L]
RewriteRule ^/Homepolicy$ $1/insurance/homeins/existing-customers.html [R=301,L]
####################################################################################


######################### CR085 ##################### Dt:- 05-06-2014#######CM185392############
RewriteRule ^/appshelp$ $1/online-banking-help/app-demos.html  [R=301,L]
########################################### End ################################################

#########################CR083#####################Dt:-11-06-2014#######CM185474################
RewriteRule ^/sss/authbusiness$ $1/sss/authcc  [R=301,L]
########################################### End ################################################
############  START  ###################  CM185942########## CR084 #####################
#RewriteRule ^/renewals1$ http://clk.atdmt.com/UTO/go/471470977/direct/01/ [R=301,L]
##RewriteRule ^/renewals2$ http://clk.atdmt.com/UTO/go/471470982/direct/01/ [R=301,L]
#RewriteRule ^/renewals3$ http://clk.atdmt.com/UTO/go/471470983/direct/01/ [R=301,L]
###############  END ###################################################################

################# CR086 ####### 20/06/2014################
RewriteRule ^/car$ $1/insurance/carins/index.html [R=301,L]
############################### CM161901 #################

#########################CR088###############Dt:-23-06-2014#########################
RewriteRule ^/demos/index.html$ $1/online-banking-help/demos.html  [R=301,L]
RewriteRule ^/demos/credit-cards.html$ $1/online-banking-help/demos.html  [R=301,L]
################## CM187445###########End#########################################

################# CR089 ####### 23/06/2014##################################################
RewriteRule ^/insurance/carins/policy-documents.html$ $1/insurance/carins/index.html [R=301,L]
################## CM174071 ##############################################################

#########################CR087###############Dt:-24-06-2014#####################
RewriteRule ^/motoring/? $1/insurance/carins/index.html  [R=301,L]
################# CM187102 ###########End#######################################

#################CR078####### 16/07/2014##########################################################################
RewriteRule ^/insurance/travelins/elh/working-holidays.html$ $1/travel-insurance/ [R=301,L]
################################################## CM191006 #####################################

################# CR089 ####### 25/07/2014###############################
RewriteRule ^/info$ $1/online-banking-help/status-updates.html [R=301,L]
################################################## CM192378 #############

################## CR092 ####### 05/08/2014###################################
RewriteRule ^/mymortgage$ $1/mortgages/existing-customers/index.html [R=301,L]
################## CM193774 ##################################################

################# CR093 ####### 19/08/2014####################################
RewriteRule ^/bankbranches/coventry.html$ $1/bankbranches/index.html [R=301,L]
####################### CM195897##############################################

################# CR097 ####### 25/09/2014#####################################
RewriteRule ^/tlb$ $1/insurance/lifeins/offers/tesco-loves-baby.html [R=301,L]
################### CM201872 ##################################################

################# CR098 ####### 26/09/2014###############################################
RewriteRule ^/foundation$ $1/creditcards/offers/500points/foundation/index.html [R=301,L]
################### CM202461 ############################################################

################# CR096 ####### 01/10/2014############################
RewriteRule ^/transfer$ $1/creditcards/offers/bt3/index.html [R=301,L]
################### CM201870 #########################################

################# CR097 ####### 06/10/2014############################
RewriteRule ^/bt$ $1/creditcards/offers/1000points/bt/index.html [R=301,L]
################### CM203490 #########################################

################# CR100 ####### 16/10/2014############################
RewriteRule ^/purchase$ $1/creditcards/offers/1000points/purchases/index.html [R=301,L]
################### CM205544 #########################################

################# CR102 ####### 16/10/2014############################
RewriteRule ^/creditcardrewards$ $1/creditcards/rewards.html [R=301,L]
################### CM205544 #########################################

################# CR103 ####### 31/10/2014#################################################################################
RewriteRule ^/creditcards/elh/benefits-of-having-a-credit-card.html$ $1/creditcards/elh/credit-card-benefits.html [R=301,L]
RewriteRule ^/creditcards/elh/balance-transfers-what-they-are-and-how-they-could-help-you-save.html$ $1/creditcards/elh/balance-transfers-on-your-credit-card.html [R=301,L]
####################### CM203486###########################################################################################

################# CR104 ####### 11/11/2014#########################
RewriteRule ^/sitemap/car-insurance.html$ / [R=301,L]
RewriteRule ^/sitemap/clubcard-credit-card.html$ / [R=301,L]
RewriteRule ^/sitemap/current-accounts.html$ / [R=301,L]
RewriteRule ^/sitemap/fixed-rate-saver.html$ / [R=301,L]
RewriteRule ^/sitemap/help.html$ / [R=301,L]
RewriteRule ^/sitemap/home-insurance.html$ / [R=301,L]
RewriteRule ^/sitemap/index.html$ / [R=301,L]
RewriteRule ^/sitemap/instant-access-savings.html$ / [R=301,L]
RewriteRule ^/sitemap/internet-saver.html$ / [R=301,L]
RewriteRule ^/sitemap/isa.html$ / [R=301,L]
RewriteRule ^/sitemap/life-insurance.html$ / [R=301,L]
RewriteRule ^/sitemap/loans.html$ / [R=301,L]
RewriteRule ^/sitemap/mortgages.html$ / [R=301,L]
RewriteRule ^/sitemap/pet-insurance.html$ / [R=301,L]
RewriteRule ^/sitemap/security.html$ / [R=301,L]
RewriteRule ^/sitemap/travel-insurance.html$ / [R=301,L]   # TO BE REVIEWED
RewriteRule ^/sitemap/travel-money.html$ / [R=301,L] # TO BE REVIEWED
####################### CM203487###################################

################# CR099 ############################# 12/11/2014 ###########################################
RewriteRule ^/assets/sections/homeins/pdf/homepolicysumL&G-1014.pdf$ $1/assets/sections/homeins/pdf/homepolicysumLG-1014.pdf [R=301,L]
############################# CM203113 #####################################################################

################# CR106 ####### 28/11/2014###################################
RewriteRule ^/bonus$ /credit-cards/offers/low-fee/dualcard.html [R=301,L]
####################### CM213693#############################################

#########################################################################################
RewriteRule ^/btcard$ /credit-cards/offers/balance-transfers/offer-btcard.html [R=301,L]
RewriteRule ^/btoffer$ /credit-cards/offers/balance-transfers/offer-btoffer.html [R=301,L]
########################################################################################

################# CR111 ############################# 14/01/2015 #######
RewriteRule ^/mortgages/help-and-guidance.html$ $1/mortgages/ [R=301,L]
RewriteRule ^/mortgages/managing-your-money.html$ $1/mortgages/ [R=301,L]
RewriteRule ^/mortgages/elh/useful-downloads.html$ $1/mortgages/ [R=301,L]
############################# CM213692 #################################
################# R112 ############################### 23-01-2015 ##########

RewriteRule ^/insurance/carins/elh/buying-new-versus-second-hand-cars-pros-and-cons.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/change-a-flat-tyre.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-lessons.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/why-do-we-drive-on-the-left.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/imported-cars.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/who-are-the-safest-drivers-in-britain.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/grey-import-parts-cheap-or-expensive-in-the-long-run.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/buying-and-selling-a-car.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/top-tips-for-safe-driving-on-the-motorways.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/how-to-sell-your-car.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/holiday-motoring-tips.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/keeping-kids-entertained-on-long-trips.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/car-clubs-in-the-uk.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/biofuel-what-is-it-and-is-it-the-future.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-hints-and-tips.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/hybrid-cars-what-they-are-and-how-to-use-them.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-safety-maintenance-and-security.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-with-a-family.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-and-the-environment.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-with-children.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/gender-neutral-car-insurance-premiums.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/safety-on-the-shoulder-of-the-motorway.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/tyre-safety.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-guide-for-economical-driving.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/buying-a-family-car.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/performance-cars-what-affects-their-insurance.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/insurance/carins/elh/driving-safely.html /car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/creditcards/elh/credit-card-info.html /creditcards/elh/glossary.html [R=301,NC,L]
#RewriteRule ^/creditcards/elh/should-you-get-tesco-payment-protection-insurance.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/is-cash-safer-than-a-credit-card.html /creditcards/ [R=301,NC,L]
RewriteRule ^/creditcards/elh/credit-checking-and-scoring.html /creditcards/elh/your-credit-rating.html [R=301,NC,L]
RewriteRule ^/creditcards/elh/credit-rating.html /creditcards/elh/your-credit-rating.html [R=301,NC,L]
#RewriteRule ^/creditcards/elh/credit-cards-of-the-future.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/credit-card-account-errors.html /creditcards/ [R=301,NC,L]
RewriteRule ^/creditcards/elh/what-is-credit-card-fraud.html /creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/creditcards/elh/protecting-yourself-against-credit-card-fraud.html /creditcards/elh/security-and-fraud.html [R=301,NC,L]
#RewriteRule ^/creditcards/elh/what-to-look-for-in-a-credit-card.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/how-to-use-your-credit-card-sensibly.html /creditcards/ [R=301,NC,L]
RewriteRule ^/creditcards/elh/how-a-credit-rating-is-calculated.html /creditcards/elh/your-credit-rating.html [R=301,NC,L]
#RewriteRule ^/creditcards/elh/the-balance-of-britains-breaks.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/dont-let-your-credit-card-get-you-into-debt.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/the-beginning-of-the-credit-card-era.html /creditcards/ [R=301,NC,L]
#RewriteRule ^/creditcards/elh/do-you-use-your-credit-card-sensibly.html /creditcards/ [R=301,NC,L]
RewriteRule ^/creditcards/elh/what-doesnt-count-towards-a-credit-score.html /creditcards/elh/your-credit-rating.html [R=301,NC,L]
RewriteRule ^/creditcards/elh/tips-for-improving-credit.html /creditcards/elh/your-credit-rating.html [R=301,NC,L]
#RewriteRule ^/creditcards/elh/your-credit-card-could-save-you-from-the-credit-crunch.html /creditcards/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/insulation-in-the-home.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/attic-conversions-updating-your-insurance.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/child-friendly-homes.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/buildings-and-contents-summary.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/minimise-flood-damage.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/home-movers-checklist.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/how-to-use-less-energy-in-the-home.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/diy-decor-tips.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/choosing-a-handyman.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/safety-in-the-kitchen.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/home-improvements.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/five-easy-ways-to-increase-the-value-of-your-home.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/saving-energy-at-home.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/protection-from-nature.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/diy-information.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/home-information-packs.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/how-to-build-community-in-your-street.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/homeins/elh/home-insurance-tips.html /home-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/lifeins/elh/gender-neutral-life-insurance-premiums.html /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/elh/decreasing-the-cost-of-your-life-insurance.html /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/insurance/lifeins/elh/gender-neutral-over50s-life-insurance-premiums.html /insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/loans/elh/how-do-i-get-a-bad-credit-history.html /loans/elh/about-credit-history.html [R=301,NC,L]
RewriteRule ^/loans/elh/what-is-the-difference-between-all-the-kinds-of-loans.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/about-loans.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/loans-and-motoring.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/second-hand-car.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/loans-for-the-home.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/loans-and-travel.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/obtaining-a-credit-report.html /loans/elh/about-credit-history.html [R=301,NC,L]
RewriteRule ^/loans/elh/car-at-auction.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/coping-with-christmas.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/what-is-a-credit-history.html /loans/elh/about-credit-history.html [R=301,NC,L]
RewriteRule ^/loans/elh/special-occasions.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/more-space.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/new-year-with-your-finances-in-order.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/family-holidays.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/outside-in.html /loans/ [R=301,NC,L]
RewriteRule ^/loans/elh/when-to-go.html /loans/ [R=301,NC,L]
RewriteRule ^/savings/elh/five-tips-for-getting-out-of-debt.html /savings/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/alternative-ways-to-travel.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/tips-for-driving-holidays.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/top-10-spring-holiday-breaks.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/last-minute-travelling.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/packing-light-when-going-on-holiday.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/top-10-summer-breaks.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/luggage-restrictions-when-travelling-by-air.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/before-you-go.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/holiday-hiccups.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/making-the-most.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/winter-sports-holidays.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/ecotourism.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/how-to-travel-long-distances-with-children.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/types-of-holidays.html /travel-insurance/ [R=301,NC,L]
RewriteRule ^/insurance/travelins/elh/travel-checklist.html /travel-insurance/ [R=301,NC,L]

############################ CM220005 ######################################
####################### Correction of CR112 ######################

 RewriteRule ^/creditcards/elh/should-you-get-tesco-payment-protection-insurance.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/is-cash-safer-than-a-credit-card.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/credit-cards-of-the-future.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/credit-card-account-errors.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/what-to-look-for-in-a-credit-card.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/how-to-use-your-credit-card-sensibly.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/the-balance-of-britains-breaks.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/dont-let-your-credit-card-get-you-into-debt.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/the-beginning-of-the-credit-card-era.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/do-you-use-your-credit-card-sensibly.html /credit-cards/ [R=301,NC,L]
 RewriteRule ^/creditcards/elh/your-credit-card-could-save-you-from-the-credit-crunch.html /credit-cards/ [R=301,NC,L]

##################CR114 ############################# 16/02/2015 ########################
RewriteRule ^/loans/elh/home-loan.html$ $1/loans/elh/home-improvement-loan.html [R=301,L]
############################# CM216324 ##################################################

################# CR115 ####### 19/02/2015#######################################################################
##RewriteRule ^/creditcards/elh/know-your-rights.html /tools/credit-card-guides/ [R,NC,L]
##################CR120#####09/04/2015####################### CM228757 Removing################


################# CR118 ###### 24/03/2015 ########
RewriteRule ^/affiliates/index.html$ $1/ [R=301,L]
######################## CM228757 ################

################# CR121 ####################################### 16/04/2015 #####################################
#RewriteRule ^/renewals2$ https://ad.atdmt.com/c/go;a=11217200966738;p=11217200966736;ev=11217200966739 [R=301,NE,L]
############################################# CM232273 #########################################################

########################################### 27/04/2015 #########################################
RewriteRule ^/sec/loans/apply.html https://onlineapply.loans.tescobank.com/loans-ui [R=301,NC,L]
############################################# CM233285 #########################################

################################## 05/05/2015 ########################

RewriteRule ^/loans1$ $1/loans/ [R=301,L]
RewriteRule ^/loans2$ $1/loans/ [R=301,L]
RewriteRule ^/loans3$ $1/loans/ [R=301,L]
RewriteRule ^/loans4$ $1/loans/ [R=301,L]
RewriteRule ^/loans5$ $1/loans/ [R=301,L]

RewriteRule ^/helpcentre/?$ $1/help/ [R=301,NC,L]

RewriteRule ^/caravan$ $1loans/ [R=301,L]
RewriteRule ^/wedding$ $1/loans/ [R=301,L]
RewriteRule ^/cars$ $1/loans/ [R=301,L]
RewriteRule ^/homeimprovement$ $1/loans/ [R=301,L]

RewriteRule ^/renewals1$ http://www.renewals.tescobank.com/ [R=301,L]
RewriteRule ^/renewals2$ http://www.renewals.tescobank.com/ [R=301,L]
RewriteRule ^/renewals3$ http://www.renewals.tescobank.com/ [R=301,L]

################################# CM234874 ##########################


##################### 22/05/2015 ###############################################################
RewriteRule ^/cupfinal$ $1/current-accounts/?cmpid=offline/acq/pca/na/Cupfinalmatch/14 [R=301,L]
######################## CM237718 ##############################################################

################# CR128 ####################################### 11/06/2015 #########################
RewriteRule ^/twitter$ $1/support/social/twitter-rules.html [R=301,L]
############################################# CM240002 #############################################

