
### Arena unchained redirects ###

RewriteRule ^/$ http://www.tescobank.com/ [R=301,NC,L]
RewriteRule ^/personal/finance/affiliates/index.jsp$ http://www.tescobank.com/affiliates/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/cao/cards_1.html$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/additional-options.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/bnpl.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/bonuscc/apply.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/bonuscc/index.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/built-in-benefits.jsp$ http://www.tescobank.com/creditcards/rewards.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/businesscc/index.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/card_options.html$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc$ http://www.tescobank.com/credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/index.jsp$ http://www.tescobank.com/credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/summary-box.jsp$ http://www.tescobank.com/credit-cards/purchases/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/compare.html$ http://www.tescobank.com/credit-cards/compare.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/contact.jsp$ http://www.tescobank.com/creditcards/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/cpp.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/elh/application-outcomes.html$ http://www.tescobank.com/creditcards/elh/application-outcomes.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/elh/guard-against-phishing.html$ http://www.tescobank.com/creditcards/elh/guard-against-phishing.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/elh/what-doesnt-count-towards-a-credit-score.html$ http://www.tescobank.com/creditcards/elh/your-credit-rating.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/elh/what-factors-affect-a-credit-rating.html$ http://www.tescobank.com/creditcards/elh/what-factors-affect-a-credit-rating.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/existing-customers.jsp$ http://www.tescobank.com/creditcards/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/index.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/ipa.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/low_rates.html$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/ppi.jsp$ http://www.tescobank.com/creditcards/elh/ppi.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/protection-from-fraud.jsp$ http://www.tescobank.com/creditcards/elh/security-and-fraud.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/creditcards/special-offers.jsp$ http://www.tescobank.com/creditcards/rewards.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/apply.jsp$ http://www.tescobank.com/loans/apply.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/contact.html$ http://www.tescobank.com/loans/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/existing-customers.html$ http://www.tescobank.com/loans/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/existing-summary.html$ http://www.tescobank.com/loans/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/important-info.html$ http://www.tescobank.com/loans/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/index.jsp$ http://www.tescobank.com/loans/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/loans/repay_calc.jsp$ http://www.tescobank.com/portal/portal/customer/loan-apply-calculator/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/mortgages/index.jsp$ http://www.tescobank.com/mortgages/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/travelmoney/index.jsp$ http://www.tescobank.com/travel-money/ [R=301,NC,L]
RewriteRule ^/personal/finance/finance/travelmoney/travel-money-bureaux.html$ http://www.tescobank.com/travel-money/buy-in-store/ [R=301,NC,L]
RewriteRule ^/personal/finance/help/muscular-dystrophy-campaign.html$ http://www.tescobank.com/help/ [R=301,NC,L]
RewriteRule ^/personal/finance/help/tech_support.jsp$ http://www.tescobank.com/help/ [R=301,NC,L]
RewriteRule ^/personal/finance/home.jsp$ http://www.tescobank.com/ [R=301,NC,L]
RewriteRule ^/personal/finance/index.html$ http://www.tescobank.com/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/bikeins/index.jsp$ http://www.tescobank.com/insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/compare-our-covers.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/contact.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/index.jsp$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/breakdown/policy-info.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/clubcard-customers.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/compare-our-covers.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/contact.html$ http://www.tescobank.com/insurance/carins/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/elh/what-to-do-if-you-have-been-in-an-accident.html$ http://www.tescobank.com/insurance/carins/elh/what-to-do-if-you-have-been-in-an-accident.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/existing-customers.html$ http://www.tescobank.com/insurance/carins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/extra-options.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/important-info.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/index.jsp/$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/our-discounts.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/policy-info.html$ http://www.tescobank.com/insurance/carins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/quote.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/standard/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/standard/policy-doc.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/standard_value.html$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/value/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/van/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/dentalins/contact.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/dentalins/index.jsp$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/dentalins/policy-info.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/dentalins/what-is-and-isnt-covered.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/adult-included.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/adult-plans.jsp$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/child-included.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/child-plans.jsp$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/contact.html$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/healthins/index.jsp$ http://www.tescobank.com/insurance/health-and-dental/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/contact.html$ http://www.tescobank.com/insurance/homeins/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/existing-customers.html$ http://www.tescobank.com/insurance/homeins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/finest.jsp$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/finest-benefits.html$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/home_calc.jsp$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/index.jsp$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/policy-$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/policy-info.html$ http://www.tescobank.com/insurance/homeins/policy-info.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/standard.jsp$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/homeins/value.jsp$ http://www.tescobank.com/home-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/index.jsp$ http://www.tescobank.com/insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/contact.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/cover_calculator.jsp$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/critical-illness.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/decreasing-cover.jsp$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/existing-customers.html$ http://www.tescobank.com/insurance/lifeins/existing-customers.htm [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/index.jsp$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/level-cover.jsp$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/mortgage-life.html$ http://www.tescobank.com/insurance/lifeins/mortgage-cover.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/contact.html$ http://www.tescobank.com/insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/existing-customers.html$ http://www.tescobank.com/insurance/lifeins/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/index.jsp$ http://www.tescobank.com/insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/over50s/policy-info.html$ http://www.tescobank.com/insurance/lifeins/over-50s-life-insurance.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/lifeins/policy-info.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/additional-options.html$ http://www.tescobank.com/pet-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/contact.html$ http://www.tescobank.com/insurance/petins/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/existing-customers.html$ http://www.tescobank.com/pet-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/index.jsp$ http://www.tescobank.com/pet-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/policy-info.html$ http://www.tescobank.com/insurance/petins/policy-documents.html [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/understanding-pet-insurance.html$ http://www.tescobank.com/pet-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/petins/vetfone.html$ http://www.tescobank.com/pet-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/travelins/contact.html$ http://www.tescobank.com/travel-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/travelins/existing-customers.html$ http://www.tescobank.com/travel-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/travelins/faq.html$ http://www.tescobank.com/travel-insurance/ [R=301,NC,L]
RewriteRule ^/personal/finance/insurance/travelins/index.jsp$ http://www.tescobank.com/travel-insurance/[R=301,NC,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-info.html$ http://www.tescobank.com/insurance/travelins/policy-docs.html [R=301,NC,L]
RewriteRule ^/personal/finance/motoring/car-warranty-plan/cover-levels.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/motoring/car-warranty-plan/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/motoring/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/products/creditcards/index.jsp$ http://www.tescobank.com/credit-cards/ [R=301,NC,L]
RewriteRule ^/personal/finance/products/motorins/index.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/certificates/index.jsp$ http://www.tescobank.com/savings/certificates/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/childtrustfund/contact.html$ http://www.tescobank.com/savings/isa-accounts/junior/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/childtrustfund/important-info.html$ http://www.tescobank.com/savings/isa-accounts/junior/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/childtrustfund/index.jsp$ http://www.tescobank.com/savings/isa-accounts/junior/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/fixedratesaver/index.jsp$ http://www.tescobank.com/savings/isa-accounts/fixed-rate/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/index.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/inflation_beating/index.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savings/banking-in-tesco-stores.html$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savings/index.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/contact.html$ http://www.tescobank.com/savings/savingsaccounts/contact.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/existing-savings-customers.html$ http://www.tescobank.com/savings/savingsaccounts/existing-customers.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/important-info.html$ http://www.tescobank.com/savings/savingsaccounts/important-info.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/index.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/instantaccess/banking-in-tesco-stores.html$ http://www.tescobank.com/savings/savingsaccounts/instantaccess/banking-in-tesco-stores.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/instantaccess/index.jsp$ http://www.tescobank.com/savings/flexible/instant-access/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/instantaccess/savingscalc.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/instantaccess/summary-box.html$ http://www.tescobank.com/savings/flexible/instant-access/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/interest-rates.html$ http://www.tescobank.com/savings/savingsaccounts/interest-rates.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/internetsaver/index.jsp$ http://www.tescobank.com/savings/flexible/internet-saver/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/internetsaver/summary-box.html$ http://www.tescobank.com/savings/flexible/internet-saver/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/managing-my-account-online.jsp$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/servicing/accs_pols/redirec$ https://www.tescobank.com/servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/personal/finance/servicing/accs_pols/redirect.jsp$ https://www.tescobank.com/servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/personal/finance/servicing/credit_card_online/$ https://www.tescobank.com/servicing/accounts_hub.html [R=301,NC,L]
RewriteRule ^/personal/finance/sitemap/index.jsp$ http://www.tescobank.com/sitemap/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/smarter_money/borrowing/repay.html$ http://www.tescobank.com/loans/ [R=301,NC,L]
RewriteRule ^/personal/finance/smarter_money/tools/health_quiz.jsp$ http://www.tescobank.com/ [R=301,NC,L]
RewriteRule ^/personal/finance/smarter_money/tools/save_plan.html$ http://www.tescobank.com/savings/ [R=301,NC,L]
RewriteRule ^/personal/finance/travel/index.jsp$ http://www.tescobank.com/travel/ [R=301,NC,L]
RewriteRule ^/personal/finance/travel/travel-card/index.jsp$ http://www.tescobank.com/travel-money/[R=301,NC,L]
RewriteRule ^/personal/finance/insurance/carins/quote.jsp$ http://www.tescobank.com/car-insurance/standard/index.html [R=301,NC,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/internetsaver/index.jsp$ http://www.tescobank.com/savings/savingsaccounts/internetsaver/index.html [R=301,NC,L]


# Existing RBS redirects
RewriteRule ^/personal/finance/(.*)/$ http://www.tescobank.com/ [R=301,L]
#RewriteRule ^/index.html$ http://www.tescobank.com/[R=301,L]
RewriteRule ^/finance/$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/finance$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/index.html$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-doc-annual.html$ http://www.tescobank.com/insurance/travelins/policy-info.html [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-doc-singletrip.html$ http://www.tescobank.com/insurance/travelins/policy-info.html [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-summary-annual.html$ http://www.tescobank.com/insurance/travelins/policy-info.html [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy-summary-singletrip.html$ http://www.tescobank.com/insurance/travelins/policy-info.html [R=301,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/terms-and-conditions.html$ http://www.tescobank.com/savings/savingsaccounts/important-info.html [R=301,L]
RewriteRule ^/personal/finance/smarter_money/index.html$ http://www.tescobank.com/loans/elh/budgeting.html [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/finest-home-emergency.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/finest-id-fraud.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/finest-concierge.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/which-cover.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/important-info.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/whats-covered.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/faster-payments.jsp$ http://www.tescobank.com/savings/ [R=301,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/faster-payments.html$ http://www.tescobank.com/savings/ [R=301,L]
RewriteRule ^/personal/finance/savings/savingsaccounts/terms-and-conditions.html$ http://www.tescobank.com/savings/savingsaccounts/important-info.html [R=301,L]
RewriteRule ^/personal/finance/savings/childtrustfund/key-features.html$ http://www.tescobank.com/savings/childtrustfund/important-info.html [R=301,L]
RewriteRule ^/personal/finance/savings/childtrustfund/what-is-a-child-trust-fund.html$ http://www.tescobank.com/savings/childtrustfund/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/index.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/extra-options.html$ http://www.tescobank.com/insurance/carins/extra-options.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/elh/bnpl.html$ http://www.tescobank.com/credit-cards/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/elh/home-information-packs.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/businesscc/index.jsp$ http://www.tescobank.com/credit-cards [R=301,L]
RewriteRule ^/personal/finance/products/motorins/index.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
#RewriteRule ^/personal/finance/products/creditcards/index.jsp$ http://www.tescobank.com/credit-cards/[R=301,L]
RewriteRule ^/personal/finance/help/site_map.html$ http://www.tescobank.com/sitemap/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/recommend-a-friend.html$ http://www.tescobank.com/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/policy.html$ http://www.tescobank.com/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/travelins/important-info.html$ http://www.tescobank.com/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/important-info.html$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/recommend-a-friend.html$ http://www.tescobank.com/pet-insurance/[R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/policy.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/policy-doc.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/policy-summary.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/finest-policy-info.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/important-info.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/standard-policy-info.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/value-policy-info.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/whats-covered.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/which-cover.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/compare-our-covers.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/important-info.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/driver-profiles.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/index-mature-drivers.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/index-performance-cars.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/index-young-drivers.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/index-women-drivers.jsp http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/policy-doc.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/policy-summary.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/policy.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/policy-info.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/breakdown-policy-summary.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard/breakdown-policy-doc.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/policy-doc.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/policy-info.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/policy-summary.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/breakdown-policy-doc.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/breakdown-policy-summary.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/value/policy.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/euro-cover.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/policy-summary-uk.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/policy-summary-eu.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/policy-doc-uk.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/policy-doc-eu.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/important-info.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/glossary.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/compare-our-covers.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/register_insecure/accounts_hub.jsp$ https://www.tescobank.com/servicing/accounts_hub.html [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/van/apply.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/van/index.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/home_calc.jsp$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/compare-our-covers.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/protection-from-fraud.html$ http://www.tescobank.com/creditcards/protection-from-fraud.html [R=301,L]
RewriteRule ^/personal/finance/finance/mortgages/discount.jsp$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/quote.jsp$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/products/petins/index.jsp$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/breakdown/choosing.html$ http://www.tescobank.com/insurance/breakdown/index.html [R=301,L]
RewriteRule ^/personal/finance/products/lifeins/mortgage_lifeins/faq.html$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/bonuscc/apply.jsp$ http://www.tescobank.com/credit-cards/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/standard_value.html$ http://www.tescobank.com/insurance/carins/value/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/quote.jsp$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/travel/money-transfer/index.jsp$ http://www.tescobank.com/travel-money/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/build_and_contents.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/over-50s-life.jsp$ http://www.tescobank.com/insurance/lifeins/over50s/index.html [R=301,L]
RewriteRule ^/personal/finance/products/petins/pettools/fido.jsp$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/covered.html$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/policy-summary.html$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/policy.html$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/types_of_cover.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/products/travelins/index.jsp$ http://www.tescobank.com/travel-insurance/ [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/protection.html$ http://www.tescobank.com/credit-cards/ [R=301,L]
RewriteRule ^/car-insurance$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/finance/index.jsp$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/policy.html$ http://www.tescobank.com/insurance/carins/policy-info.html [R=301,L]
RewriteRule ^/personal/finance/insurance/petins/faq.html$ http://www.tescobank.com/pet-insurance/ [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/businesscc/apply.jsp$ http://www.tescobank.com/credit-cards/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/benefits.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/carins/covered.html$ http://www.tescobank.com/car-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/trusts.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/faq.html$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/critical_illness_cover.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/contact.html$ http://www.tescobank.com/creditcards/contact.html [R=301,L]
RewriteRule ^/personal/finance/savings/savings/interestrates.html$ http://www.tescobank.com/savings/savingsaccounts/interest-rates.html [R=301,L]
RewriteRule ^/personal/finance/insurance/lifeins/elh/life-insurance-for-women.html$ http://www.tescobank.com/insurance/lifeins/index.html [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/elh/home-saftey-and-security.html$ http://www.tescobank.com/insurance/homeins/elh/home-safety-and-security.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcard_points.html$ http://www.tescobank.com/creditcards/built-in-benefits.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/benefits.html$ http://www.tescobank.com/creditcards/built-in-benefits.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/contact.html$ http://www.tescobank.com/creditcards/contact.html [R=301,L]
RewriteRule ^/personal/finance/finance/creditcards/clubcc/summary_box.html$ http://www.tescobank.com/creditcards/clubcc/summary-box.html [R=301,L]
RewriteRule ^/personal/finance/finance/loans/benefits.html$ http://www.tescobank.com/loans/ [R=301,L]
RewriteRule ^/personal/finance/insurance/homeins/quote.jsp$ http://www.tescobank.com/home-insurance/ [R=301,L]
RewriteRule ^/personal/finance/products/loans/index.jsp$ http://www.tescobank.com/loans/ [R=301,L]
# Redirects updated by Tesco Bank
RewriteRule ^/personal/finance/blackpool/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/brislington/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/coventryarena/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/longeaton/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/oldhamhuddersfieldroad/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/silverburn/index.html$ http://www.tescobank.com/bankbranches/index.html [R=301,L]
RewriteRule ^/personal/finance/bankbranches/(.*)$ http://www.tescobank.com/bankbranches/$1 [R=301,L]
RewriteRule ^/personal/finance/ecd_demo/(.*)$ http://www.tescobank.com/demos/$1 [R=301,L]
# Redirects added by RBS
#RewriteRule ^/personal/finance/gateway.jsp$ http://www.tescobank.com/[R=301,L]
#RewriteRule ^/personal/finance/home.jsp$ http://www.tescobank.com/[R=301,L]
RewriteRule ^/personal/finance/index.jsp$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/affiliates/(.*)$ http://www.tescobank.com/affiliates/$1 [R=301,L]
RewriteRule ^/personal/finance/cao/(.*)$ http://www.tescobank.com/cao/$1 [R=301,L]
RewriteRule ^/personal/finance/demos/(.*)$ http://www.tescobank.com/demos/$1 [R=301,L]
RewriteRule ^/personal/finance/errors/(.*)$ http://www.tescobank.com/errors/$1 [R=301,L]
RewriteRule ^/personal/finance/finance/(.*)$ http://www.tescobank.com/$1 [R=301,L]
RewriteRule ^/personal/finance/help/(.*)$ http://www.tescobank.com/help/$1 [R=301,L]
RewriteRule ^/personal/finance/insurance/(.*)$ http://www.tescobank.com/insurance/$1 [R=301,L]
RewriteRule ^/personal/finance/motoring/(.*)$ http://www.tescobank.com/motoring/$1 [R=301,L]
RewriteRule ^/personal/finance/rss/(.*)$ http://www.tescobank.com/rss/$1 [R=301,L]
RewriteRule ^/personal/finance/savings/(.*)$ http://www.tescobank.com/savings/$1 [R=301,L]
RewriteRule ^/personal/finance/security/(.*)$ http://www.tescobank.com/security/$1 [R=301,L]
RewriteRule ^/personal/finance/servicing/(.*)$ http://www.tescobank.com/servicing/$1 [R=301,L]
RewriteRule ^/personal/finance/sitemap/(.*)$ http://www.tescobank.com/sitemap/$1 [R=301,L]
RewriteRule ^/personal/finance/smarter_money/(.*)$ http://www.tescobank.com/smarter_money/$1 [R=301,L]
RewriteRule ^/personal/finance/socialbookmarking/(.*)$ http://www.tescobank.com/socialbookmarking/$1 [R=301,L]
RewriteRule ^/personal/finance/travel/(.*)$ http://www.tescobank.com/travel/$1 [R=301,L]
# My Accounts redirection
RewriteRule ^/personal/finance/register_insecure/input_customer_no.jsp$ http://www.tescobank.com/servicing/input_customer_no.html [R=301,L]

########################24/12/2014###############################################
RewriteRule ^/index.html$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/products/creditcards/index.jsp$ http://www.tescobank.com/credit-cards/ [R=301,L]
RewriteRule ^/personal/finance/gateway.jsp$ http://www.tescobank.com/ [R=301,L]
RewriteRule ^/personal/finance/home.jsp$ http://www.tescobank.com/ [R=301,L]
####################### CM216325################################################
