
target/
*.idea
build/
.gradle/
bin/
out/

*.ipr
*.iml
*.iws
*.idea
*.war
*.tar.gz
*.tgz
*.idea
*.class

.DS_Store
.vagrant*

# Project properties
.project
.classpath
.settings/

*/artefacts/*.cfg
*/artefacts/*.jar
*/artefacts/*.war
*/artefacts/*.example
*/atlassian-ide-plugin.xml


# Target Folders
target/
bin/

deploy-local.sh
